@CHARSET "ISO-8859-1";

/***********************************************/
/********* GENERAL *****************************/
/***********************************************/
@font-face {
  font-family: 'Asap';
  font-style: normal;
  font-weight: 400;
  src: local('Asap'), local('Asap-Regular'), url(../fonts/asap.woff2) format('woff2');
}
body {
	background-color: #dfe4e6;
	color: #7f939b;
	font-family: 'Asap', sans-serif;
	font-size: 14px;
	line-height: 20px;
}
.container{
	width: 80%;
	padding: 0;
} 
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Asap', sans-serif;
}
h2 .btn-primary{
	color: #5ac8f0;
}
.btn-primary{
	background-color: #5ac8f0;
	color: #FFFFFF;
	border-color: #5ac8f0;
	border-radius:15px;
	padding: 0 20px;
	font-weight: bold;
	margin:10px 15px;
	font-size: 16px;
	line-height: 20px;
	height: 30px;
}
.btn.btn-primary:ACTIVE{
	color:#5ac8f0;
}
.btn-secundar{
	background-color: #5ac8f0;
	border: 1px solid #5ac8f0;
	color: #5ac8f0;
	background-color: #FFFFFF;
}

.btn.btn-primary.btn-secundar:ACTIVE,.btn.btn-primary.btn-secundar:FOCUS{
	background-color:#dfe4e6;
	color: #2d7893;
	border: 1px solid #2d7893;
}
.btn-secundar:HOVER{
	border: 1px solid #2d7893;
	color: #2d7893;
	background-color: #FFFFFF;
}

.btn-default{
	color: #5ac8f0;
	border-color: #5ac8f0;
	border-radius:25px;
	padding: 0 20px;
	font-weight: bold;
	margin: 10px 15px;
	font-size: 16px;
	line-height: 20px;
	height: 30px;
}
h3 a{
	color: #2d7893;
	padding: 10px;
}
h1, h4, h5{
	color: #2d7893;
}
h1{
	color: #002837;
	line-height: 30px;
	font-size: 24px;
	margin:20px 0 10px 0;
}
h2{
	margin: 10px 0 10px 0;
	font-size: 20px;
	color: #2d7893;
	line-height: 24px;
	font-weight: bold;
}

h3{
	margin: 15px 0 10px 0;
	font-size: 16px;
	line-height: 20px; 
	color: #2d7893;
	font-weight: bold;
}
h4{
	margin: 10px 0 5px 0;
	font-size: 14px;
	line-height: 20px; 
	color: #2d7893;
	font-weight: bold;
}
/*h4:HOVER{
	color: #5ac8f0;
}
h4:ACTIVE{
	color: #002837;
}
*/
h5{
	margin: 5px 0 5px 0;
	font-size: 12px;
	line-height: 20px; 
	color: #002837;
}
h6{
	margin: 5px 0 5px 0;
	font-size: 12px;
	line-height: 20px;
	color:#7f939b; 
}
h6 p{
	color: #7f939b;
}
.light_color{
	color: #bfc9cd;
}
icon{
	color: #bfc9cd;
}
/* label{ */
/* 	border: 1px solid #dfe4e6; */
/* 	background-color: #eff1f2; */
/* } */

.checkbox label{
	min-height: 0px;
	padding:0px;
	
}
.progress{
	color: #fbb03b;
}
.approved{
	color: #39b54a;
}
.rejected {
	color: #f15a24;
}
.light{
	color: #bfc9cd;
}
p{
	margin: 5px 0 5px 0;
	font-size: 14px;
	line-height: 20px;
	color:#002837; 
}
.inside{
	height: 820px;
}
.inside .col-md-2-4,.col-lg-2-4,.col-sm-2-4{
	padding-left: 0;
	padding-right: 0;
	
}  
.primary h2{
	margin: 10px 0;
	color: #5ac8f0;
	letter-spacing: -1px;
}
.primary h4{
	margin: 10px 0;
	color: #2d7893;
	font-weight: bold;
}
.primary h1, .primary h5{
	color: #002837;
}
.primary h6{
	color: #7f939b;
	font-weight: normal;
}
.panel-default {
    border: 1px solid #bfc9cd;
    border-radius: 5px;
}
.panel-default > .panel-heading {
    border: none;
}
.panel-body.primary{
	padding:0 10px;
}
.panel-heading.primary{
	padding:0 10px;
	background-color: inherit;
	border: initial;
}
.panel-body.primary {
    background-color: #eff1f2;
    border: 1px solid #dfe4e6;
    border-radius: 5px;
    margin: 15px 5px 10px;
}
.services{
	padding: 0 0 25px 0;
}
.splitline{
	border-bottom: 1px solid #dfe4e6;
    float: left;
    margin: 19px 42px;
    overflow: visible;
    position: absolute;
    /* Firefox */
	width: -moz-calc(100% - 90px);
	/* WebKit */
	width: -webkit-calc(100% - 90px);
	/* Opera */
	width: -o-calc(100% - 90px);
	/* Standard */
	width: calc(100% - 90px);
}

.bmc_view_Header.splitline{
	border-bottom: 1px solid #dfe4e6;
    float: left;
    margin: 15px 40px;
    overflow: visible;
    position: absolute;
    /* Firefox */
	width: -moz-calc(100% - 95px);
	/* WebKit */
	width: -webkit-calc(100% - 95px);
	/* Opera */
	width: -o-calc(100% - 95px);
	/* Standard */
	width: calc(100% - 95px);
}
.more {
    background: rgba(0, 0, 0, 0) url("../img/icbt_detail_more_sprite_3vertikal_30x30.png") no-repeat scroll 0 0;
   	margin-top: 5px;
    color: #8f8571;
    content: "";
    float: right;
    font-weight: bold;
    margin-right: 5px;
    padding: 15px;
}
.more:HOVER{
	cursor:pointer;
	background: rgba(0, 0, 0, 0) url("../img/icbt_detail_more_sprite_3vertikal_30x30.png") no-repeat scroll 0 -30px;
}
.more:ACTIVE{
	cursor:pointer;
	background: rgba(0, 0, 0, 0) url("../img/icbt_detail_more_sprite_3vertikal_30x30.png") no-repeat scroll 0 -60px;
}
.group-icons{
	cursor:pointer;
}
.icon-triangle:HOVER{
	cursor:pointer;
	background: rgb(239, 241, 242);
}
.add{
    background: transparent url("../img/icbt_add_sprite_3vertikal_30x30.png") no-repeat scroll 0 0;
    color: #5ac8f0;
    content: "";
    float: left;
    font-weight: bold;
    margin: 5px;
    padding: 15px;
}
.add:HOVER{
	background: transparent url("../img/icbt_add_sprite_3vertikal_30x30.png") no-repeat scroll 0 -30px;
}
.add:ACTIVE{
	background: transparent url("../img/icbt_add_sprite_3vertikal_30x30.png") no-repeat scroll 0 -60px;
}
.edit-icon{
	/*background: rgb(239, 241, 242) url("../img/icbt_30x30_editor_bearbeiten.png") no-repeat scroll 0 -1px;*/
	background: transparent url("../img/icbt_edit_sprite_3vertikal_30x30.png") no-repeat scroll 0 0;
    /*border: 1px solid #dfe4e6;
    border-radius: 25px;*/
    color: #dfe4e6;
    content: "";
    float: left;
    font-weight: bold;
    margin: 10px 10px 15px 5px;
    padding: 15px;
}
.edit-icon:HOVER{
	background: transparent url("../img/icbt_edit_sprite_3vertikal_30x30.png") no-repeat scroll 0 -30px;
}
.edit-icon:ACTIVE{
	background: transparent url("../img/icbt_edit_sprite_3vertikal_30x30.png") no-repeat scroll 0 -60px;
}
.edit-icon-header{
	background: url("../img/icbt_edit_sprite_3vertikal_30x30.png") no-repeat scroll 0 0;
	border: 1px solid #dfe4e6;
    border-radius: 25px;
    content: "";
    float: left;
    font-weight: bold;
    margin: 10px 10px 15px 0;
    padding: 14px;
}
.edit-icon-header:HOVER{
	background: url("../img/icbt_edit_sprite_3vertikal_30x30.png") no-repeat scroll -1px -30px;
}
.edit-icon-header:ACTIVE{
	background: url("../img/icbt_edit_sprite_3vertikal_30x30.png") no-repeat scroll -1px -60px;
}
.bmc_view_status_modal{
	padding: 0px 10px 0px 0px;
	font-style: normal;
	text-decoration: initial !important; 
}
.group-icons.bmc_group-icons{
	background-color: inherit !important;
	margin-top: 10px;
	float: left;
	margin-left: 24%;
}
.bmc_group-icons:HOVER{
	background: rgb(239, 241, 242) !important;
	text-decoration: initial !important; 
}
.delete-icon{
	background: transparent url("../img/icbt_delete_sprite_3vertikal_30x30.png") no-repeat scroll 0 0;
    color: #dfe4e6;
    content: "";
    float: left;
    font-weight: bold;
    margin: 10px 10px 15px 5px;
    padding: 15px;
}
.delete-icon:HOVER{
	background: transparent url("../img/icbt_delete_sprite_3vertikal_30x30.png") no-repeat scroll 0 -30px;
}
.delete-icon:ACTIVE{
	background: transparent url("../img/icbt_delete_sprite_3vertikal_30x30.png") no-repeat scroll 0 -60px;
}
.search-icon{
    border: 1px solid #dfe4e6;
    border-radius: 25px;
    color: rgb(175, 168, 151);
    content: "";
    float: left;
    font-weight: bold;
    margin: 15px 10px 15px 0;
    padding: 5px 9px;
}
.search-icon:HOVER{
	background: rgb(239, 241, 242);
	color: red;
}

.help-icon{
	/*border: 1px solid #bfc9cd;
    border-radius: 25px;
    color: rgb(175, 168, 151);
    content: "";
    float: left;
    font-weight: bold;
    margin: 15px 10px 15px 0;
    padding: 5px 9px;*/
}
/*.help-icon:HOVER{
	border: 1px solid #bfc9cd;
    border-radius: 25px;
	background: rgb(239, 241, 242);
	color: red;
}*/
.group-icons {
 	background-color: #eff1f2;
    border: 1px solid #bfc9cd;
    border-radius: 15px;
    display: inline-block;
    float: right;
    margin-top: 10px;
    width: auto;
    overflow: hidden;
}
.icon-minus{
	border: 1px solid #dfe4e6;
    border-radius: 15px;
    border-spacing: 0;
    float: left;
    height: 6px;
    line-height: 4px;
    margin: 7px 12px 5px 12px;
    text-indent: -1px;
    font-size: 1.5em;
}
.canvas_box .icon-triangle{
	background: transparent url("../img/icbt_dropdown_sprite_3vertikal_30x30.png") no-repeat scroll 0 0 / 100% auto;
	/*border: 1px solid #bfc9cd;
    border-radius: 25px;*/
    color: #bfc9cd;
    /*margin: -2px -1px 0 -4px;*/
    padding: 11px;
    float: left;
}
.canvas_box .icon-triangle:HOVER{
	background: transparent url("../img/icbt_dropdown_sprite_3vertikal_30x30.png") no-repeat scroll 105% 50% / 100% auto;
}
.canvas_box .icon-triangle:ACTIVE{
	background: transparent url("../img/icbt_dropdown_sprite_3vertikal_30x30.png") no-repeat scroll 0 100% / 100% auto;
}
.canvas_box .group-icons:HOVER{
	border: 1px solid #5ac8f0;
}
.help-icon .icon-question{
	background: transparent url("../img/icbt_help_sprite_3vertikal_30x30.png") no-repeat scroll 0 0;
	float: left;
    padding: 15px;
}
.icon-question:HOVER{
	background: transparent url("../img/icbt_help_sprite_3vertikal_30x30.png") no-repeat scroll 0 -30px;
}
.icon-question:ACTIVE,.icon-question:FOCUS{
	background: transparent url("../img/icbt_help_sprite_3vertikal_30x30.png") no-repeat scroll 0 -60px;
}
.duplicate-icon{
	background: transparent url("../img/icbt_duplicate_sprite_3vertikal_30x30.png") no-repeat scroll 0 0;
    color: #dfe4e6;
    content: "";
    float: left;
    font-weight: bold;
    margin: 10px 10px 15px 5px;
    padding: 15px;
}
.duplicate-icon:HOVER{
	background: transparent url("../img/icbt_duplicate_sprite_3vertikal_30x30.png") no-repeat scroll 0 -30px;
}
.duplicate-icon:ACTIVE{
	background: transparent url("../img/icbt_duplicate_sprite_3vertikal_30x30.png") no-repeat scroll 0 -60px;
}
.export-icon{
	background: transparent url("../img/icbt_export_sprite_3vertikal_30x30.png") no-repeat scroll 0 0;
    color: #dfe4e6;
    content: "";
    float: left;
    font-weight: bold;
    margin: 10px 10px 15px 5px;
    padding: 15px;
}
.export-icon:HOVER{
	background: transparent url("../img/icbt_export_sprite_3vertikal_30x30.png") no-repeat scroll 0 -30px;
}
.export-icon:ACTIVE{
	background: transparent url("../img/icbt_export_sprite_3vertikal_30x30.png") no-repeat scroll 0 -60px;
}
.no-paddingleft{
	padding-left: 0;
	padding-right: 5px;
}
.no-paddingright{
	padding-right: 0;
	padding-left: 5px;
}
.help_info {
    display: inline-block;
    float: right;
    margin: 15px 45px 0 0;
}
.divider_style_1 {
	border-bottom: 1px solid #7f939b;
	margin-top: 10px;
	padding-bottom: 10px;
	clear: both;
}
.divider_style_2 {
	border-bottom: 1px solid #bfc9cd;
    clear: both;
    margin-bottom: 10px;
    padding-bottom: 5px;
}
.divider_style_2.extra_space{
	border-bottom: 1px solid #bfc9cd;
	border-top:none;
	padding-top:15px;
	margin-bottom: 15px;
	clear: both;
}
.divider_style_3 {
	border-top: 1px solid #eff1f2;
	margin-top: 5px;
	padding-bottom: 5px;
	clear: both;
	width: 99%;
	margin-left: auto;
	margin-right: auto;
}
.divider_style_2.no_space, 
.divider_style_1.no_space{
	padding: 0;
	margin: 0;
}
.first_screen{
	height: 60px;
	width: 50%;
	color: #fff;
	background-color: #5AC8F0;
	border-radius:15px;
	vertical-align: middle;
	display: block;
	margin-left: auto;
    margin-right: auto;
    margin-top:20px;
    margin-bottom:20px;
    font-size: 24px;
    font-weight:bold;
    padding-top: 18px;
}
.first_screen:HOVER{
	text-decoration: none;
}
.row div.text-center:first-child{
	margin-bottom:20px;
}
.extra_padding .divider_style_1{
	margin: 0 0 25px 0;
}
.header_nav{
	height: 60px;
}
/***********************************************/
/********* Navigation***************************/
/***********************************************/
.navbar-default{
	background-color: #FFFFFF;
}
.loggin h3{
	float: left;
	margin-right: 10px;
	font-weight: normal;
}
.navbar-nav > li > a.loggin{
	padding-top:5px;
}
.navbar-nav > li > h3{
	margin-bottom: 15px;
	line-height: 30px;
}
.navbar-nav > li.active{
	height: 60px;
	background-color: #eff1f2; 
	border: 1px solid #dfe4e6;
	color: #002837;
}
.navbar-nav h3 > a{
	margin-left: 10px;
	margin-right: 10px;
}
.navbar-nav h3 > a:HOVER{
	color: #5ac8f0;
	text-decoration: none;
}
.navbar-nav h3 > a:ACTIVE{
	color: #002837;
}
li.dropdown_project{
	height: 60px;
	/*background-color: #eff1f2;
	border: 1px solid #dfe4e6;
	border-radius: 5px; */
	display: inline;
	padding-right: 10px;
}
li.dropdown_project.active {
    background-color: #eff1f2;
    border: 1px solid #dfe4e6;
}
.navbar-nav > li.active h3 > a{
	color: #002837;	
}

.dropdown span.icon_more{
	background: transparent url("../img/icbt_detail_more_sprite_3vertikal_30x30.png") no-repeat scroll 0 0;
   	float: left;
    margin-top: 10px;
    padding: 15px;
    position: absolute;
    right: 15px;
}
.dropdown span.icon_more:HOVER{
	background: transparent url("../img/icbt_detail_more_sprite_3vertikal_30x30.png") no-repeat scroll 0 -30px;
}
.dropdown span.icon_more:ACTIVE{
	background: transparent url("../img/icbt_detail_more_sprite_3vertikal_30x30.png") no-repeat scroll 0 -60px;
}
.open span.icon_more{
	background: transparent url("../img/icbt_detail_less_sprite_3vertikal_30x30.png") no-repeat scroll 0 0;
}
.open span.icon_more:HOVER{
	background: transparent url("../img/icbt_detail_less_sprite_3vertikal_30x30.png") no-repeat scroll 0 -30px;
}
.open span.icon_more:ACTIVE{
	background: transparent url("../img/icbt_detail_less_sprite_3vertikal_30x30.png") no-repeat scroll 0 -60px;
}
.dropdown_project span.icon_more{
	background: transparent url("../img/icbt_30x30_showmore.png") no-repeat scroll -1px 1px;
    border: 1px solid #bfc9cd;
    border-radius: 25px;
    margin-top: 15px;
    margin-left: 10px;
    float: right;
    padding: 15px;
}
button#dropdown_navbar{
	background: transparent url("../img/icbt_detail_more_sprite_3vertikal_30x30.png") no-repeat scroll 0 0;
	margin-top: 15px;
	padding: 15px;
	margin-left: 10px;
	border:0;
}
button#dropdown_navbar:HOVER{
	background: transparent url("../img/icbt_detail_more_sprite_3vertikal_30x30.png") no-repeat scroll 0 -30px;
}
button#dropdown_navbar:ACTIVE{
	background: transparent url("../img/icbt_detail_more_sprite_3vertikal_30x30.png") no-repeat scroll 0 -60px;
}
.dropdown_project.open button#dropdown_navbar{
	background: transparent url("../img/icbt_detail_less_sprite_3vertikal_30x30.png") no-repeat scroll 0 0;
}
.dropdown_project.open button#dropdown_navbar:HOVER{
	background: transparent url("../img/icbt_detail_less_sprite_3vertikal_30x30.png") no-repeat scroll 0 -30px;
}
.dropdown_project.open button#dropdown_navbar:ACTIVE{
	background: transparent url("../img/icbt_detail_less_sprite_3vertikal_30x30.png") no-repeat scroll 0 -60px;
}
.dropdown_project.open .dropdown-menu{
	margin-top: 2px;
} 
.navbar-collapse > div{
	height: 60px;
}
.header_drop{
	display: inline-block;
    float: left;
}
.navbar-nav .header_drop a{
	padding: 0 10px 0 10px;
	margin-right: 5px;
}
.divider_vertical{
	border-left: 1px solid #dfe4e6;
	float: left;
    height: 100%;
	width: 1px;
	display: inline-block;
}
.dropdown.open .dropdown-menu{
	margin-top: 12px;
}


.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus{
	background-color: #FFFFFF;
	outline: none;	
}
h3.logged{
	margin-right: 35px;
}
@media only screen and (max-width: 1000px) {
	.dropdown_project  #dropdown_navbar, .divider_vertical{
		display: none;
	}
}

@media only screen and (max-width: 850px) {
	.dropdown_project  #dropdown_navbar, .divider_vertical{
		display: none;
	}
	li.dropdown_project {
      display: block;
      height: 0;
      padding-right: 0;
	}
   .navbar-nav h3 a {
   		float:left;
   		padding: 0 5px;
	}
	.navbar-nav .header_drop a {
   		margin-right: 5px;
    	padding-left: 0;
    	padding-right: 0;
	}
	.loggin h3 {
    	float: right;
    }
    .dropdown.open .dropdown-menu{
    	height: auto;
    	max-height: 200px;
    	overflow-x: hidden;
    }
}
/***********************************************/
/********* Projects ****************************/
/***********************************************/
.tableBorder{
border-style: solid;
border-color: rgb(229, 229, 229);
border-width: 1px;	
box-sizing:border-box;
}

.pHeadder{
text-align: center;
background-color: rgb(229, 229, 229);	
}

.pHeadder_l{
text-align: center;	
border-radius: 20px 0 0 0;	
background-color: rgb(229, 229, 229);	
}

.pHeadder_r{
text-align: center;	
border-radius: 0 20px 0 0;	
background-color: rgb(229, 229, 229);
}

.navbar-brand{
padding: 10px;	
}

div.navbar-header > a > img{
height: 35px;
}

.avatarImg{
height: 50px;
}

.persona_line_1{
border-bottom: 1px #dddddd solid;
}
.persona_line_1_1{
border-right: 1px #dddddd solid !important;
}

.persona_image{
margin: 5px;
max-height: 200px;	
}

.persona_formular_help{
padding: 0 5px;
top:0;	
}

.persona_view_box{
	padding: 0;
	text-align: center;
}

.persona_view_box > img{
	padding: 10px;
}

.persona_view_box_content{
	padding: 0;
}

.persona_view_box_quote{
	border: 1px solid #dddddd;	
	background-color: #ffffff;
	border-radius: 4px;
	position: relative;  
	margin-bottom: 20px;
    box-shadow: 0 1px 1px lightgray;
    height: 80px;
}

.persona_view_box_quote:before {  
  content: ' ';  
  position: absolute;    
  border: 6px solid;  
  border-color: #dddddd transparent transparent #dddddd;  
  top: 78px;
  left: 14px;
  }
  
.persona_view_box_quote:after {  
  content: ' ';  
  position: absolute;   
  top: 78px;  
  border: 4px solid;  
  border-color: #fff transparent transparent #fff;  
  left: 16px;
  }

.needs_help{
	display:none;
    position:absolute;
    border:1px solid #000;
    width:400px;
    height:400px;	
}

.tooltip{
width: 150px;
}

.bmc_div{
	border: 1px solid black;
}
.bmc_view_content_container{
	margin: 5px;
}

.table_center{
	text-align: center;
}

.showBMCStatus, .viewBMCStatus{
	font-weight: bold;
}
.Post-It_Image img{
	max-height: 200px;	
}

.postIt_colors{
	text-align: center;
}

.post_It{
	padding: 0 10px;
	margin: 0 0 5px 0;
	background-color: #FFFD73;
	border: 1px solid brown;
	border-radius: 5px;
}

.post-it-headder, .persona-bmc-headder{
	color: brown;
    font-weight: bold;	
    margin: 5px 0 0 0;
}
.post_It_content{
	padding: 0;
}

.post-it-footer{
	margin: 0 0 5px 0;
	padding: 0;
    text-align: right;
}

.post-it-status{
	float: right;
}

.post-it-footer a{
	color: brown;
}

.post-it-footer a:hover{
	color: red;
}

.canvas_box{
/* 	padding:10px 0; */
	padding: 10px;
}

#draggable { width: 150px; height: 150px; padding: 0.5em; border-color: black; border: 1px solid;}

.table_text{
	border-bottom: 1px solid;
	border-color: #dddddd;
}

.table_head{
	border-bottom: 1px solid; 
	border-color: #dddddd;
	padding: 5px;
	margin: 0;	
    color: #333333;
    font-weight: bold;
}

.table_body{
	border-bottom: 1px solid; 
	border-color: #dddddd;
	padding: 5px 0; 
	margin: 0;	
}

.table_body_last{
	padding: 5px 0; 
	margin: 0;	
}

.persona-View-table{
	border: 1px solid #dddddd;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
}

.persona_bmc_view_img{
	margin: 0;
	padding: 5px 0 5px;
	text-align: center;
}

.persona_bmc_view_content{
	margin:0;
	padding: 5px 0 0;
}

.persona-bmc-footer{
	margin: 0 0 5px;
	text-align: center;
	padding: 5px 0;
}

/*a{
	color: brown;
}*/

.page-header{
	margin-top: 0px;
}

.bmc_view_background{
	background-color:inherit;
	border:0;
	box-shadow: inherit;
}

.bmc_view_Header{
	background-color:inherit !important;
	/*
	padding: 15px 10px 0px 10px;
	margin-bottom: 15px;
	box-shadow: inherit;
	*/
}

/* .bmcViewBackground{ */
/* 	background-image: url(../img/gplaypattern.png); */
/* } */

/* .modal-dialog{ */
/* 	width: 800px; */
/* } */

/* .modal-dialog.delete{ */
/* 	width: 400px; */
/* } */

.modal-content.delete{
	text-align: center;
}

.export{
	text-align: center;
}

.modal-footer.delete{
	text-align:center;
}

.modal-backdrop{
	z-index: 0;
}

.viewBMCEmptyBox{
	font-size:10px;
	margin: 5px;
}

.modal .modal-body {
    max-height: 500px;
    overflow-y: auto;
}

.test{
	border:1px solid #000000;
}

div.viewBMC_body .panel-default{
	margin: 2px;
}
.btn.btn-primary.btn-secundar.no-margin-left{
	margin-left: -30px;
}
.my_projects li{
	list-style: none;
}
.dropdown_myprojects{
	background: transparent url("../img/icbt_detail_more_sprite_3vertikal_30x30.png") no-repeat scroll 0 0;
	float: left;
    margin-bottom: 10px;
    margin-left: 12px;
    margin-top: 3px;
    padding: 15px;
}
.dropdown_myprojects:HOVER{
	background: transparent url("../img/icbt_detail_more_sprite_3vertikal_30x30.png") no-repeat scroll 0 -30px;
}
.dropdown_myprojects:ACTIVE{
	background: transparent url("../img/icbt_detail_more_sprite_3vertikal_30x30.png") no-repeat scroll 0 -60px;
}
.element_float_left{
	float: left;
}
.no_margin{
	margin-left: 0;
	margin-right: 0;
}
.my_project_list{
	background-color: #FFFFFF;
	border: 1px solid #bfc9cd;
	border-radius:5px;
	float: left;
	margin-bottom: 10px;
}
.extra_padding{
	padding: 0 15px 0 15px;
}
.no_background{
	background-color: inherit;
}
.details_myprojects{
	background: transparent url("../img/icbt_detail_more_sprite_3vertikal_30x30.png") no-repeat scroll 0 0;
    float: left;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-top: 10px;
    padding: 15px;
}
.details_myprojects:HOVER{
	background: transparent url("../img/icbt_detail_more_sprite_3vertikal_30x30.png") no-repeat scroll 0 -30px;
}
.details_myprojects:ACTIVE{
		background: transparent url("../img/icbt_detail_more_sprite_3vertikal_30x30.png") no-repeat scroll 0 -60px;
}
.selected_sort.form-control{
	font-size: 12px;
	line-height: 30px;
	color: #2d7893;
	background: #dfe4e6 url("../img/icbt_detail_more_sprite_3vertikal_30x30.png") no-repeat scroll 90px -1px;
	width: 120px;
	border: 1px solid #bfc9cd;
	border-radius: 15px;
	padding: 6px;
	height:30px;
	-webkit-appearance:none;
  	-moz-appearance:none;
  	margin-top:10px
}
.selected_sort.form-control:HOVER{
	background: #ffffff url("../img/icbt_detail_more_sprite_3vertikal_30x30.png") no-repeat scroll 90px -31px;
	border: 1px solid #5ac8f0;
	color: #5ac8f0;
}
.selected_sort.form-control:ACTIVE{
	background: #eff1f2 url("../img/icbt_detail_more_sprite_3vertikal_30x30.png") no-repeat scroll 90px -61px;
	border: 1px solid #7f939b;
	color: #002837;
}
a.project_link{
	float: left;
}
a.bmc_link{
	float: left;
}
.show_projects ul.my_projects{
	padding-left: 4px;
}
.project_link .btn.btn-primary.btn-secundar, a.bmc_link .btn.btn-primary.btn-secundar{
	margin-left: 0;
}
.sortProject h6{
	float: left;
	margin-top: 15px;
	margin-right:  15px;
}
.divider_style_2_project {
	border-bottom: 1px solid #bfc9cd;
    clear: both;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.label_project{
	background-color: #eff1f2;
	border:1px solid #dfe4e6;
	border-radius:5px;
	float: left;
	margin-left: 15px;
	margin-top: 5px;
}
.label_project::before {
    /*background-color: red;*/
    border: 2px solid white;
    border-radius: 5px;
    box-shadow: 0 0 0 1pt #dfe4e6;
    content: "";
    display: inline-block;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 11px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
.label_inWork.label_project::before{
	background-color: #fbb03b;
}
.label_approved.label_project::before{
	background-color: #39b54a;
}
.label_deleted.label_project::before{}
.label_rejected.label_project::before{
	background-color: #f15a24;
}
h5.bmc_list{
	position:absolute;
	margin-left: 25px;
}
.divider_style_1_project{
	border-bottom: 1px solid #7f939b;
    clear: both;
    margin-top: 10px;
    margin-bottom:10px;    
    padding-bottom: 10px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}
.divider_style_1_project_inside{
	border-bottom: 1px solid #7f939b;
    clear: both;
    margin-top: 10px;
    margin-bottom:10px;    
    padding-bottom: 10px;
    width: 99%;
    margin-right: auto;
    margin-left: auto;
}
h5.in_label_project{
	float: left;
	padding-right: 10px;
	
}
h6.no_margin_top{
	margin-top: 0;
}
h5.no_margin_bottom{
	margin-bottom: 0;
	margin-top: 10px;
}
.no_margin_top_bottom{
	margin-top: 0;
	margin-bottom: 0;
}
.no_padding_left{
	padding-left: 0;
}
.no_margin_left{
	margin-left: 0;
}
.no_padding_right{
	padding-right: 0;
}
.no_padding_left_right{
	padding-left: 0;
	padding-right: 0;
}
.myProjects.selected_sort option {
	background-color: #eff1f2;
	border:none;
	margin-top: 0;
	padding-top: 0;
	outline: 1px solid #bfc9cd;
}
.ui-widget{
	font-family: 'Asap', sans-serif;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default,
.ui-state-default:HOVER, .ui-state-default:FOCUS, .ui-state-default:ACTIVE, .ui-widget-content .ui-state-default:HOVER, .ui-widget-content .ui-state-default:FOCUS,
.ui-widget-content .ui-state-default:ACTIVE,.ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default,
.ui-widget-header .ui-state-default:HOVER,.ui-widget-header .ui-state-default:FOCUS,.ui-widget-header .ui-state-default:ACTIVE{
	background: none !important;
	border: none !important;
	color:inherit;
	font-weight: inherit;
	outline: none;
}
.ui-selectmenu-menu .ui-menu{
	padding-bottom: none !important
}
.ui-selectmenu-button span.ui-selectmenu-text{
	font-size: 12px;
	line-height: 30px;
	color: #2d7893;
	background: #dfe4e6 url("../img/icbt_detail_more_sprite_3vertikal_30x30.png") no-repeat scroll 90px -1px;
	width: 120px;
	border: 1px solid #bfc9cd;
	border-radius: 15px;
	padding: 6px;
	height:30px;
	-webkit-appearance:none;
  	-moz-appearance:none;
  	margin-top:10px
}
.ui-selectmenu-button span.ui-icon{
	display: none;
}
.ui-selectmenu-button span.ui-selectmenu-text:HOVER{
	background: #ffffff url("../img/icbt_detail_more_sprite_3vertikal_30x30.png") no-repeat scroll 90px -31px;
	border: 1px solid #5ac8f0;
	color: #5ac8f0;
}
.ui-selectmenu-button span.ui-selectmenu-text:ACTIVE{
	background: #eff1f2 url("../img/icbt_detail_more_sprite_3vertikal_30x30.png") no-repeat scroll 90px -61px;
	border: 1px solid #7f939b;
	color: #002837;
}
.ui-selectmenu-menu .ui-menu{
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
	overflow: hidden;
	margin-top: -15px;
	background-color: #dfe4e6;
}
.ui-menu.ui-widget.ui-widget-content.ui-corner-bottom:first-child {
    padding-top: 6px;
}
.sortProject {
     z-index: 999;
}
.ui-widget-content{
	/*background: none !important;*/
}
.ui-menu .ui-menu-item {
	padding-left: 10px !important;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus{
	list-style-image: none !important;
}
.ui-menu-item,.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus{
	background: #dfe4e6 none repeat scroll 0 0 !important;
	/*border: 0 none !important;*/
	color: #2d7893 !important;
	font-size: 12px; 
	line-height: 30px;
	border-top:1px solid #bfc9cd;
	border-right:1px solid #bfc9cd;
	border-left:1px solid #bfc9cd;
	border-bootm:1px solid #bfc9cd; 
}
.ui-menu .ui-state-focus, .ui-menu .ui-state-active{
	margin: 0!important;
}
.ui-menu .ui-menu-item:HOVER {
	color: #5ac8f0 !important;
	background-color:#fff !important;
	border-bottom: 1px solid #5ac8f0;
    border-left: 1px solid  #5ac8f0;
    border-right:1px solid  #5ac8f0;
    border-color:#5ac8f0; 
	 
}
#custom_menu-menu.ui-menu li.ui-menu-item:ACTIVE {
	color: #002837 !important;
	background-color:#fff !important; 
	border-bottom: 1px solid #5ac8f0;
    border-left: 1px solid  #5ac8f0;
    border-right:1px solid  #5ac8f0;
    border-color:#5ac8f0; 
}
.ui-menu .ui-state-focus, .ui-menu .ui-state-active{
	color: #002837 !important;
	background-color:#fff !important;
	border-bottom: 1px solid #5ac8f0;
    border-left: 1px solid  #5ac8f0;
    border-right:1px solid  #5ac8f0;
    border-color:#5ac8f0;
    
}
.ui-menu-item:first-child {
    border-top: 0 none;
    padding-top: 10px !important;
}
.ui-menu .ui-state-focus:last-child,.ui-state-active:last-child .ui-menu .ui-menu-item:last-child:HOVER,.ui-menu .ui-menu-item:last-child:ACTIVE,.ui-menu .ui-menu-item:last-child:FOCUS{
	border-bottom-left-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
}
h5.participants{
	float:left;
	margin-top: 15px;
}
.label_status_bmc{
	margin-top: -2px;
}
/****************Canvas*************************/
.canvas_box .panel-body.primary{
	margin-left: 0;
	margin-right: 0;
	margin-top: 10px;
}
.status_project{
	float:left;
	background: #dfe4e6 url("../img/icbt_dropdown_sprite_3vertikal_30x30.png") no-repeat scroll 105px 0px;
	border:1px solid #bfc9cd;
	border-radius:15px; 
}
.status_project:HOVER{
	background: #ffffff url("../img/icbt_dropdown_sprite_3vertikal_30x30.png") no-repeat scroll 105px -30px;
    border: 1px solid #5ac8f0;
    color: #5ac8f0;
    cursor: pointer;
}
.status_project:ACTIVE{
	background: #eff1f2 url("../img/icbt_dropdown_sprite_3vertikal_30x30.png") no-repeat scroll 105px -60px;
    border: 1px solid #7f939b;
    cursor: pointer;
}

.label_status_project::before{
   	border: 2px solid white;
    border-radius: 5px;
    box-shadow: 0 0 0 1pt #dfe4e6;
    content: "";
    display: inline-block;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 11px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;	
}

.label_status_project.label_rejected::before{
	background-color: #f15a24;
}
.label_status_project.label_inWork::before{
	background-color: #fbb03b;
}
.label_status_project.label_approved::before{
	background-color: #39b54a;
}
h5.text_status_bmc{
	float: left;
    margin-left: 0;
    padding-right: 39px;
    padding-left: 0;
    width: 90px;
}
h5.text_status_bmc:HOVER {
	color: #5ac8f0;
}
h5.text_status_bmc:ACTIVE {
	color: #002837;
}
.primary.grey{
	background-color: #dfe4e6;
}
.primary.blue{
	background-color: #b4d4f9;
}
.primary.red{
	background-color: #ff8678;
}
.primary.yellow{
	background-color: #fff974;
}
.primary.green{
	background-color: #b9f9b4;
}

/******************* Anpassungen Smartphones (col-xs) ********************/
@media (max-width: 749px) {
	a.bmc_link {
		float: right;
	}
	.modal_tools a{
		margin: 0;
		margin-left: 15px;
		margin-top: 0px;
	}
	.modal-view-button{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.personaAvatar{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.personaToolItems span{
		margin-bottom: 0;
	}
	.personaUpdated, .personaToolsHead, .personaToolItems{
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

/******************* Anpassungen Tablet (col-sm) *************************/
@media (min-width: 750px) and (max-width: 991px) {
	.edit-icon, .duplicate-icon, .delete-icon, .export-icon{
		margin-bottom: 0px;
		margin-right: 0;
		margin-left: 0;
	}
	.help_info{
		margin: 15px 20px 0 0;
	}
	.table_body{
		word-wrap:break-word
	}
	.modal_tools a{
		margin-left: 10px;
		margin-top: 10px;
	}
	.modal-view-button{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.personaTools span{
		margin-left: 10px;
		margin-top: 10px;
	}
	.personaTools{
		border-top: 1px solid #E6EEF1;
		display: flex;
		justify-content: center;
		align-items: center;
		border-top: 1px solid #E6EEF1;
	}
	.personaToolsHead{
		display: flex;
		justify-content: center;
		align-items: center;
		border-top: 1px solid #E6EEF1;
	}
	.personaAvatar img{
		width: 100%;
		height: auto;
		margin-bottom: 10px;
	}
}

/******************* Anpassungen Desktops klein (col-md) ***********************/
@media (min-width: 992px) and (max-width: 1169px){
	a.bmc_link {
		float: right;
	}
	a.project_link {
		float: right;
	}
	.modal_tools a{
		margin: 0px 5px;
	}
	.edit-icon, .duplicate-icon, .delete-icon, .export-icon{
		margin-bottom: 0px;
	}
	.modal-view-button{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.table_body{
		word-wrap:break-word
	}
	.modal_tools a{
		margin: 0;
		margin-left: 5px;
		margin-top: 15px;
		margin-bottom: 0;
	}
	.personaAvatar img{
		width: 100%;
		height: auto;
	}
	.personaToolsHead, .personaToolItems{
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

/******************* Anpassungen Desktops groß (col-lg) ***********************/
@media (min-width: 1169px) and (max-width: 1422px){
	a.bmc_link {
		float: right;
	}
	a.project_link {
		float: right;
	}
	.modal_tools a{
		margin: 0;
		margin-left: 0px;
		margin-right: 20px;
		margin-top: 5px;
		margin-bottom: 5px;
	}
	.personaAvatar img{
		width: 100%;
		height: auto;
	}
	.personaToolsHead, .personaToolItems{
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

@media (min-width: 1423px){
	a.bmc_link {
		float: right;
	}
	a.project_link {
		float: right;
	}
	.modal_tools a{
		margin: 0;
		margin-left: 5px;
		margin-top: 15px;
	}
	.personaTools button{
		margin-left: 0;
		margin-right: 0;
	}
	.personaTools span{
		margin-left: 0;
		margin-top: 0;
	}
}
/******************* Admin Dashboard ***********************/
.admin_User_list{
	background-color: #FFFFFF;
	border: 1px solid #bfc9cd;
	border-radius:5px;
	float: left;
	margin-bottom: 10px;
	margin-left: 0px;
	padding: 0px;
}
