@CHARSET "ISO-8859-1";

/***********************************************/
/********* GENERAL *****************************/
/***********************************************/
@font-face {
  font-family: 'Asap';
  font-style: normal;
  font-weight: 400;
  src: local('Asap'), local('Asap-Regular'), url(../fonts/asap.woff2) format('woff2');
}
body {
	background-color: #dfe4e6;
	color: #7f939b;
	font-family: 'Asap', sans-serif;
	font-size: 14px;
	line-height: 20px;
} 
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Asap', sans-serif;
}
h2 .btn-primary{
	color: #5ac8f0;
}
.btn-primary{
	background-color: #5ac8f0;
	color: #FFFFFF;
	border-color: #5ac8f0;
	border-radius:25px;
	padding: 10px 25px;
	font-weight: bold;
	margin:10px;
}
.btn-default{
	color: #5ac8f0;
	border-color: #5ac8f0;
	border-radius:25px;
	padding: 10px 25px;
	font-weight: bold;
	margin:10px;
}
h3 a{
	color: #2d7893;
	padding: 10px;
}
h1, h4, h5{
	color: #2d7893;
}
h1{
	color: #002837;
	line-height: 30px;
	font-size: 24px;
	margin:20px 0 10px 0;
}
h2{
	margin: 10px 0 10px 0;
	font-size: 20px;
	color: #2d7893;
	line-height: 24px;
	font-weight: bold;
}

h3{
	margin: 15px 0 10px 0;
	font-size: 16px;
	line-height: 20px; 
	color: #2d7893;
	font-weight: bold;
}
h4{
	margin: 10px 0 5px 0;
	font-size: 14px;
	line-height: 20px; 
	color: #002837;
}
h5{
	margin: 5px 0 5px 0;
	font-size: 12px;
	line-height: 20px; 
	color: #002837;
}
h6{
	margin: 5px 0 5px 0;
	font-size: 12px;
	line-height: 20px; 
}
h6 p{
	color: #7f939b;
}
icon{
	color: #bfc9cd;
}
label{
	border: 1px solid #dfe4e6;
	background-color: #eff1f2;
}
.progress{
	color: #fbb03b;
}
.approved{
	color: #39b54a;
}
.rejected {
	color: #f15a24;
}
.light{
	color: #bfc9cd;
}
p{
	margin: 5px 0 5px 0;
	font-size: 14px;
	line-height: 20px; 
}
/***********************************************/
/********* Navigation***************************/
/***********************************************/
.navbar-default{
	background-color: #FFFFFF;
}
a.loggin{
	font-weight: normal;
}
.loggin h3{
	float: left;
	margin-right: 10px;
}
.dropdown span.icon_more{
	background: transparent url("../img/icbt_30x30_showmore.png") no-repeat scroll 0 2px;
    border: 1px solid #bfc9cd;
    border-radius: 25px;
    float: right;
    padding: 16px;
    margin-top: 10px;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus{
	background-color: #FFFFFF;
	outline: none;	
}
.open span.icon_more{
	background: transparent url("../img/icbt_30x30_showless.png") no-repeat scroll 0 2px;
}
/***********************************************/
/********* Projects ****************************/
/***********************************************/

.tableBorder{
border-style: solid;
border-color: rgb(229, 229, 229);
border-width: 1px;	
box-sizing:border-box;
}

.pHeadder{
text-align: center;
background-color: rgb(229, 229, 229);	
}

.pHeadder_l{
text-align: center;	
border-radius: 20px 0 0 0;	
background-color: rgb(229, 229, 229);	
}

.pHeadder_r{
text-align: center;	
border-radius: 0 20px 0 0;	
background-color: rgb(229, 229, 229);
}

.navbar-brand{
padding: 10px;	
}

div.navbar-header > a > img{
height: 35px;
}

.avatarImg{
height: 50px;
}

.persona_line_1{
border-bottom: 1px #dddddd solid;
}
.persona_line_1_1{
border-right: 1px #dddddd solid !important;
}

.persona_image{
margin: 5px;
max-height: 200px;	
}

.persona_formular_help{
padding: 0 5px;
top:0;	
}

.persona_view_box{
	padding: 0;
	text-align: center;
}

.persona_view_box > img{
	padding: 10px;
}

.persona_view_box_content{
	padding: 0;
}

.persona_view_box_quote{
	border: 1px solid #dddddd;	
	background-color: #ffffff;
	border-radius: 4px;
	position: relative;  
	margin-bottom: 20px;
    box-shadow: 0 1px 1px lightgray;
    height: 80px;
}

.persona_view_box_quote:before {  
  content: ' ';  
  position: absolute;    
  border: 6px solid;  
  border-color: #dddddd transparent transparent #dddddd;  
  top: 78px;
  left: 14px;
  }
  
.persona_view_box_quote:after {  
  content: ' ';  
  position: absolute;   
  top: 78px;  
  border: 4px solid;  
  border-color: #fff transparent transparent #fff;  
  left: 16px;
  }

.needs_help{
	display:none;
    position:absolute;
    border:1px solid #000;
    width:400px;
    height:400px;	
}

.tooltip{
width: 150px;
}

.bmc_div{
	border: 1px solid black;
}
.bmc_view_content_container{
	margin: 5px;
}

.table_center{
	text-align: center;
}

.showBMCStatus, .viewBMCStatus{
	font-weight: bold;
}
.Post-It_Image img{
	max-height: 200px;	
}

.postIt_colors{
	text-align: center;
}

.post_It{
	padding: 0 10px;
	margin: 0 0 5px 0;
	background-color: #FFFD73;
	border: 1px solid brown;
	border-radius: 5px;
}

.post-it-headder, .persona-bmc-headder{
	color: brown;
    font-weight: bold;	
    margin: 5px 0 0 0;
}
.post_It_content{
	padding: 0;
}

.post-it-footer{
	margin: 0 0 5px 0;
	padding: 0;
    text-align: right;
}

.post-it-status{
	float: right;
}

.post-it-footer a{
	color: brown;
}

.post-it-footer a:hover{
	color: red;
}

.canvas_box{
/* 	padding:10px 0; */
	padding: 10px;
}

#draggable { width: 150px; height: 150px; padding: 0.5em; border-color: black; border: 1px solid;}

.table_text{
	border-bottom: 1px solid;
	border-color: #dddddd;
}

.table_head{
	border-bottom: 1px solid; 
	border-color: #dddddd;
	padding: 5px;
	margin: 0;	
    color: #333333;
    font-weight: bold;
}

.table_body{
	border-bottom: 1px solid; 
	border-color: #dddddd;
	padding: 5px 0; 
	margin: 0;	
}

.table_body_last{
	padding: 5px 0; 
	margin: 0;	
}

.persona-View-table{
	border: 1px solid #dddddd;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
}

.persona_bmc_view_img{
	margin: 0;
	padding: 5px 0 5px;
	text-align: center;
}

.persona_bmc_view_content{
	margin:0;
	padding: 5px 0 0;
}

.persona-bmc-footer{
	margin: 0 0 5px;
	text-align: center;
	padding: 5px 0;
}

/*a{
	color: brown;
}*/

.page-header{
	margin-top: 0px;
}

.bmcViewBackground{
	background-image: url(../img/gplaypattern.png);
}

/* .modal-dialog{ */
/* 	width: 800px; */
/* } */

/* .modal-dialog.delete{ */
/* 	width: 400px; */
/* } */

.modal-content.delete{
	text-align: center;
}

.export{
	text-align: center;
}

.modal-footer.delete{
	text-align:center;
}

.viewBMCEmptyBox{
	font-size:10px;
}

.modal .modal-body {
    max-height: 500px;
    overflow-y: auto;
}

.test{
	border:1px solid #000000;
}